//https://www.color-hex.com/color/2a6f97
$black: #040b0f;
$white: #f8fafb;
$gray-100: #e9f0f4;
$gray-200: #bfd3df;
$gray-300: #a9c5d5;
$gray-400: #7fa8c0;
$gray-500: #548bab;
$gray-600: #2a6f97;
$gray-700: #215878;
$gray-800: #19425a;
$gray-900: #101315;
$font-size-base: 1.2rem;
$base-space: 2rem;
$card-border-width: 0;
$body-bg: $gray-100;
$primary: $gray-700;
$font-family-sans-serif: "Open Sans", sans-serif;
@import "../../vendor/bootstrap/bootstrap";
.links{
  padding-top: 10px;
}
a.back{
  display: block;
  padding-bottom: $base-space/2;
}

a.lang{
  color: $gray-600;
  padding-left: 0 $base-space/2;
  display: inline-block;
}
a.lang.current{
  color: $gray-800 ;
  text-decoration: none;
}
#logoContainer{
  margin-top: $base-space*2;
  text-align: center;
  a{
    text-decoration: none;
    img{
      width: 400px;
      max-width: 80%;
      height: auto;
    }
    :hover{
      opacity: 0.8;
    }
  }
}

#description{
    h1{
      color: $gray-600;
    }
    padding-top: $base-space/2;
    padding-bottom: $base-space*2;
}

#body-details{
  background: $white;
  display: block;
  padding: $base-space 0;
  #next-event{
    h4{
      margin-bottom: $base-space/6;
      color: $gray-800;
    }
    .talk{
      margin-bottom: $base-space*2;
      display: block;
    }
    .image-container{
      width: 100%;
      height: 350px;
      display: block;
      background-size: cover;
      margin-bottom: $base-space;
    }
  }
}

footer{
  padding: $base-space 0;
  color: $gray-800;
}

#next-event{
  table{
    width: 100%;
    margin-bottom: $base-space;
    td,th{
      padding: $base-space/4;
      text-align: left;
      vertical-align: top;
    }
  }
}