{{- $title := or (.Get "title") T "talk_title_pending" }}
{{- $tagline := or (.Get "tagline") T "talk_title_pending" }}
{{- $image := or (.Get "image") "" }}

<div class="row speaker-bio">
    <div class="col-12 col-lg-5 speaker-image">
        {{ with resources.Get $image }}
        {{ with .Resize (printf "%dx webp q70 lanczos" .Width) }}
        <img class="speaker-photo" src="{{ .RelPermalink }}" alt="{{ $title }}" loading="lazy">
        {{end}}
        {{end}}
    </div>
    <div class="col-12 col-lg-7">
        <h3>{{ printf (T "about_speaker") $title }}</h3>
        <p>{{ $tagline }}</p>
        <p>{{ .Inner | markdownify }}</p>
    </div>
</div>
