<header>
  <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="links">
                    {{ if not (eq . (site.GetPage "about")) }}
                    {{ with $.Site.GetPage "/info/about" }}
                    <a href="{{ .Permalink }}">{{ T "about" }}</a>
                    {{ end }}
                    {{ end }}
                </p>
            </div>
          <div class="col-6">
              <p class="links" style="text-align: right;">
                  {{ range $.Site.Home.AllTranslations }}
                  <a href="{{ .RelPermalink }}"
                     class="{{ if eq .Lang $.Lang }}current{{ end }} lang">{{ .Language.LanguageName }}</a>
                  {{ end }}
              </p>
          </div>
        </div>
    </div>
    <div id="logoContainer">
        {{ with resources.Get "img/logo.svg" }}
            <a href="/">
                <img src="{{.Permalink}}" alt="">
            </a>
        {{end}}

    </div>
</header>